In [1]:
!pip install fastai2 -- yes

Collecting fastai2
  Downloading https://files.pythonhosted.org/packages/cc/50/2f37212be57b7ee3e9c947336f75a66724468b21a3ca68734eaa82e7ebf3/fastai2-0.0.30-py3-none-any.whl (179kB)
     |████████████████████████████████| 184kB 11.5MB/s
Collecting yes
  Downloading https://files.pythonhosted.org/packages/34/4c/b617ad72dd3690843e6147e18d78f70f15aa50818710f149bfd4d5f4ba52/yes-0.0.1-py2.py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fastai2) (1.1.5)
Requirement already satisfied: torchvision>=0.7 in /usr/local/lib/python3.7/dist-packages (from fastai2) (0.8.1+cu101)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from fastai2) (1.7.0+cu101)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from fastai2) (20.9)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from fastai2) (19.3.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from fastai2) (7.0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from fastai2) (0.22.2.post1)
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (from fastai2) (2.2.4)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from fastai2) (3.13)
Collecting fastcore>=0.1.34
  Downloading https://files.pythonhosted.org/packages/0c/98/60404e2817cff113a6ae4023bc1772e23179408fdf7857fa410551758dfe/fastcore-1.3.19-py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 5.4MB/s
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.7/dist-packages (from fastai2) (1.0.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from fastai2) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from fastai2) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from fastai2) (2.23.0)
Collecting nose
  Downloading https://files.pythonhosted.org/packages/15/d8/dd071918c040f50fa1cf80da16423af51ff8ce4a0f2399b7bf8de45ac3d9/nose-1.3.7-py3-none-any.whl (154kB)
     |████████████████████████████████| 163kB 25.3MB/s
Collecting sphinx-rtd-theme
  Downloading https://files.pythonhosted.org/packages/76/81/d5af3a50a45ee4311ac2dac5b599d69f68388401c7a4ca902e0e450a9f94/sphinx_rtd_theme-0.5.1-py2.py3-none-any.whl (2.8MB)
     |████████████████████████████████| 2.8MB 29.5MB/s
Requirement already satisfied: coverage in /usr/local/lib/python3.7/dist-packages (from yes) (3.7.1)
Requirement already satisfied: sphinx in /usr/local/lib/python3.7/dist-packages (from yes) (1.8.5)
Collecting pypi-publisher
  Downloading https://files.pythonhosted.org/packages/fb/54/20d4290b78ca3a8d291ad984c180a5edcf6bd66e08cbd431776da238ca3d/pypi-publisher-0.0.4.tar.gz
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fastai2) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->fastai2) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fastai2) (2.8.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from torch>=1.6.0->fastai2) (0.16.0)
Requirement already satisfied: dataclasses in /usr/local/lib/python3.7/dist-packages (from torch>=1.6.0->fastai2) (0.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.6.0->fastai2) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->fastai2) (2.4.7)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->fastai2) (1.0.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (1.1.3)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (3.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (1.0.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (1.0.5)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (2.0.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (4.41.1)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (7.4.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (0.8.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy->fastai2) (53.0.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai2) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai2) (1.3.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->fastai2) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->fastai2) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->fastai2) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->fastai2) (2020.12.5)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (1.2.4)
Requirement already satisfied: Jinja2>=2.3 in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (2.11.3)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (2.6.1)
Requirement already satisfied: imagesize in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (1.2.0)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (2.9.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (0.7.12)
Requirement already satisfied: docutils>=0.11 in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (0.16)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (1.15.0)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.7/dist-packages (from sphinx->yes) (2.1.0)
Collecting gitpython==0.3.6
  Downloading https://files.pythonhosted.org/packages/e9/d5/807cea9ffbfa398a23bbaff35d3fd37aa330c8c264c9489ed104b6192f74/GitPython-0.3.6.tar.gz (353kB)
     |████████████████████████████████| 358kB 34.0MB/s
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy->fastai2) (3.4.0)
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.7/dist-packages (from sphinxcontrib-websupport->sphinx->yes) (1.1.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.3->sphinx->yes) (1.1.1)
Collecting gitdb>=0.6.4
  Downloading https://files.pythonhosted.org/packages/48/11/d1800bca0a3bae820b84b7d813ad1eff15a48a64caea9c823fc8c1b119e8/gitdb-4.0.5-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 6.3MB/s
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy->fastai2) (3.4.0)
Collecting smmap<4,>=3.0.1
  Downloading https://files.pythonhosted.org/packages/d5/1e/6130925131f639b2acde0f7f18b73e33ce082ff2d90783c436b52040af5a/smmap-3.0.5-py2.py3-none-any.whl
Building wheels for collected packages: pypi-publisher, gitpython
  Building wheel for pypi-publisher (setup.py) ... done
  Created wheel for pypi-publisher: filename=pypi_publisher-0.0.4-py2.py3-none-any.whl size=6639 sha256=c505a71129c3e657d6e384c5bd6347c5ebb4c58b98c48ade54df962f88fa4e5d
  Stored in directory: /root/.cache/pip/wheels/4f/ce/2c/12db89fa56f78dbed6c4dedd5fd8e4d8334bfb56952c1db505
  Building wheel for gitpython (setup.py) ... done
  Created wheel for gitpython: filename=GitPython-0.3.6-cp37-none-any.whl size=388104 sha256=41c88ca16c45f0b64208587c8dc895e76c144489b8596cc4d1f7e2af93fbb2c2
  Stored in directory: /root/.cache/pip/wheels/a0/f9/86/86f71d7f28712562519932887ee0965eeaa6e05d0b045eec20
Successfully built pypi-publisher gitpython
Installing collected packages: fastcore, fastai2, nose, sphinx-rtd-theme, smmap, gitdb, gitpython, pypi-publisher, yes
Successfully installed fastai2-0.0.30 fastcore-1.3.19 gitdb-4.0.5 gitpython-0.3.6 nose-1.3.7 pypi-publisher-0.0.4 smmap-3.0.5 sphinx-rtd-theme-0.5.1 yes-0.0.1

In [2]:
!pip install fastcore==0.1.35 ##Currently supported with fastai2

Collecting fastcore==0.1.35
  Downloading https://files.pythonhosted.org/packages/f5/bc/a50e6c70d54042576ba07d4ca7e0d2f4deeb0fc5d621981a0c9536e2f4ee/fastcore-0.1.35-py3-none-any.whl
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from fastcore==0.1.35) (19.3.1)
Requirement already satisfied: dataclasses in /usr/local/lib/python3.7/dist-packages (from fastcore==0.1.35) (0.6)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fastcore==0.1.35) (1.19.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from fastcore==0.1.35) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->fastcore==0.1.35) (2.4.7)
Installing collected packages: fastcore
  Found existing installation: fastcore 1.3.19
    Uninstalling fastcore-1.3.19:
      Successfully uninstalled fastcore-1.3.19
Successfully installed fastcore-0.1.35

In [3]:
import fastcore
print(fastcore.__version__)

0.1.35

In [4]:
import pandas as pd
import numpy as np

from fastai2.tabular.all import *
import xgboost

from sklearn.metrics import accuracy_score

In [5]:
df_train = pd.read_csv('train-extended.csv')
df_test = pd.read_csv('test-extended.csv')

In [6]:
df_train.columns.to_series().groupby(df_train.dtypes).groups

{int64: ['PassengerId', 'Pclass', 'SibSp', 'Parch'], float64: ['Survived', 'Age', 'Fare', 'WikiId', 'Age_wiki', 'Class'], object: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Name_wiki', 'Hometown', 'Boarded', 'Destination', 'Lifeboat', 'Body']}

In [7]:
cat_names= [
        'Name', 'Sex', 'Ticket', 'Cabin', 
        'Embarked', 'Name_wiki', 'Hometown', 
        'Boarded', 'Destination', 'Lifeboat', 
        'Body'
]

cont_names = [ 
    'PassengerId', 'Pclass', 'SibSp', 'Parch', 
    'Age', 'Fare', 'WikiId', 'Age_wiki','Class'
 ]

In [8]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df_train))
df_tp = TabularPandas(df_train, procs=[Categorify, FillMissing, Normalize],
                      cat_names=cat_names,
                      cont_names=cont_names,
                      y_names='Survived',
                      splits=splits)

In [9]:
X_train, y_train = df_tp.train.xs, df_tp.train.ys.values.ravel()
X_val, y_val = df_tp.valid.xs, df_tp.valid.ys.values.ravel()

In [10]:
xgb_classifier = xgboost.XGBClassifier()
xgb_classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [11]:
train_preds = xgb_classifier.predict(X_train)
print('Training accuracy: {:.2f}%'.format(accuracy_score(y_train, train_preds) * 100))
val_preds = xgb_classifier.predict(X_val)
print('Validation accuracy: {:.2f}%'.format(accuracy_score(y_val, val_preds) * 100))

Training accuracy: 99.58%
Validation accuracy: 99.44%

In [12]:
test_tp = TabularPandas(df_test, procs=[Categorify, FillMissing, Normalize],
                        cat_names=cat_names,
                        cont_names=cont_names)

In [13]:
X_test = test_tp.train.xs

In [14]:
X_test.head()

   Name  Sex  Ticket  Cabin  ...      Fare    WikiId  Age_wiki     Class
0   207    2     153      0  ... -0.497413  0.752828 -0.794545  0.871140
1   404    1     222      0  ... -0.512278  1.729823  1.304755  0.871140
2   270    2      74      0  ... -0.464100 -0.332721  2.504355 -0.311121
3   409    2     148      0  ... -0.482475  1.745709 -0.194745  0.871140
4   179    1     139      0  ... -0.417491  0.601910 -0.569620  0.871140

[5 rows x 25 columns]

In [15]:
X_test.drop(['Fare_na'], axis=1, inplace=True)

In [16]:
X_test.head()

   Name  Sex  Ticket  Cabin  ...      Fare    WikiId  Age_wiki     Class
0   207    2     153      0  ... -0.497413  0.752828 -0.794545  0.871140
1   404    1     222      0  ... -0.512278  1.729823  1.304755  0.871140
2   270    2      74      0  ... -0.464100 -0.332721  2.504355 -0.311121
3   409    2     148      0  ... -0.482475  1.745709 -0.194745  0.871140
4   179    1     139      0  ... -0.417491  0.601910 -0.569620  0.871140

[5 rows x 24 columns]

In [17]:
test_preds = xgb_classifier.predict(X_test)
test_preds = test_preds.astype(int)

In [18]:
output= pd.DataFrame({'PassengerId':df_test.PassengerId, 'Survived': test_preds})
output.to_csv('my_submission_titanic.csv', index=False)
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1